<!DOCTYPE html>
<html>
  <head>
    <title>ElViS</title>
    <module href="/components/head.html"></module>
    <link rel="stylesheet" href="./index.css">
  </head>
  <body>
      <module href="/components/header.html"></module>
      <div class="slides">
        <module href="/components/titel.html"></module>
        <module href="/components/intro.html"></module>
        <module href="/components/tasks.html"></module>
        <module href="/components/highlights.html"></module>
        <module href="/components/todos.html"></module>
        <module href="/components/end.html"></module>
      </div>
      <module href="/components/footer.html"></module>
    <script src="./bundle.js"></script>
  </body>
</html>