<section class="slide">
    <div class="header">
    </div>
    <div class="content center">
        <table>
            <tr>
              <th style="width: 5%;">AP</th>
              <th style="width: 75%;">Beschreibung</th>
              <th style="width: 20%;">Status</th>
            </tr>
            <tr>
              <td>0</td>
              <td>Projektmanagement</td>
              <td class="center"><task-progress start="2022-08-01", end="2024-10-31"/></td>
            </tr>

            <tr>
              <td>2</td>
              <td>Werkstoff auswahl und Konzeptionierung</td>
              <td class="center"></task-progress></td>
            </tr>
            <tr>
              <td>2.1</td>
              <td>Auswahl potentieller Werkstoffe für lasttragende Energiespeicher auf Basis der Vorbetrachtung</td>
              <td class="center"><task-progress start="2022-08-01", end="2022-10-31"></task-progress></td>
            </tr>
            <tr>
              <td>2.4</td>
              <td>Erarbeitung von Bauweisen für bandförmige Composite-Halbzeuge mit Energiespeicherfunktion</td>
              <td class="center"><task-progress start="2022-08-01", end="2023-10-31"></task-progress></td>
            </tr>
            <tr>
              <td>2.6</td>
              <td>Erarbeitung von Vorauslegungsmethoden für die parametrisierte Modellierung der entwickelten Bauweisen</td>
              <td class="center"><task-progress start="2022-08-01", end="2023-01-31"></task-progress></td>
            </tr>
        </table> 
    </div>
    <div class="footer"></div>
</section>