<section class="slide">
    <div class="header">
    </div>
    <div class="content center">
        <table>
            <tr>
                <th style="width: 5%;">AP</th>
                <th style="width: 75%;">Beschreibung</th>
                <th style="width: 20%;">Status</th>
            </tr>
            <tr>
                <td>3</td>
                <td>Auslegung, Strukturbewertung und Optimierung</td>
                <td class="center"></task-progress></td>
            </tr>
            <tr>
                <td>3.1</td>
                <td>Entwicklung phänomenologischer Materialmodelle für mulifunktionale Energiespeicherhalbzeuge</td>
                <td class="center"><task-progress start="2022-10-01", end="2023-07-31"></task-progress></td>
            </tr>
            <tr>
                <td>3.2</td>
                <td>Numerische Verformungs- und Steifigkeitsanalysen</td>
                <td class="center"><task-progress start="2022-12-01", end="2024-05-31"></task-progress></td>
            </tr>
            <tr>
                <td>3.3</td>
                <td>Festigkeits- und Versagensanalys </td>
                <td class="center"><task-progress start="2022-12-01", end="2024-05-31"></task-progress></td>
            </tr>
            <tr>
                <td>3.4</td>
                <td>Durchführung numerischer Parameterstudien zur Verbesserung der Bauweisen für definierte Einsatzszenarien</td>
                <td class="center"><task-progress start="2023-03-01", end="2024-10-31"></task-progress></td>
            </tr>
            <tr>
                <td>3.5</td>
                <td>Entwicklung von Verfahren zur Optimierung multifunktionaler Werkstoffe und Optimierung der Bauweisen</td>
                <td class="center"><task-progress start="2023-11-01", end="2024-10-31"></task-progress></td>
            </tr>

            <tr>
                <td>4</td>
                <td>Experimentelle Analyse der konzipierten Energiespeichertechnologie</td>
                <td class="center"></task-progress></td>
            </tr>
            <tr>
                <td>4.4</td>
                <td>Erprobung und experimentelle Validierung von Verbundstrukturen mit integrierter elektrischer Speicherfunktion</td>
                <td class="center"><task-progress start="2023-05-01", end="2024-10-31"></task-progress></td>
            </tr>
            <tr>
                <td>5</td>
                <td>Technologiebewertung</td>
                <td class="center"></task-progress></td>
            </tr>
            <tr>
                <td>5.5</td>
                <td>Erstellung einer Roadmap für die definierten Einsatzszenarien in Zusammenarbeit mit dem IAB</td>
                <td class="center"><task-progress start="2022-11-01", end="2024-10-31"></task-progress></td>
            </tr>
        </table> 
    </div>
    <div class="footer"></div>
</section>