<section class="slide">
    <div class="header">
    </div>
    <div class="content center">
        <table>
            <tr>
                <th>AP</th>
                <th>Beschreibung</th>
                <th>Status</th>
            </tr>
            <tr>
                <td>4</td>
                <td>Experimentelle Analyse der konzipierten Energiespeichertechnologie</td>
                <td class="center"></task-progress></td>
            </tr>
            <tr>
                <td>4.4</td>
                <td>Erprobung und experimentelle Validierung von Verbundstrukturen mit integrierter elektrischer Speicherfunktion</td>
                <td class="center"><task-progress start="2023-05-01", end="2024-10-31"></task-progress></td>
            </tr>
            <tr>
                <td>5</td>
                <td>Technologiebewertung</td>
                <td class="center"></task-progress></td>
            </tr>
            <tr>
                <td>5.5</td>
                <td>Erstellung einer Roadmap für die definierten Einsatzszenarien in Zusammenarbeit mit dem IAB</td>
                <td class="center"><task-progress start="2022-11-01", end="2024-10-31"></task-progress></td>
            </tr>
        </table> 
    </div>
    <div class="footer"></div>
</section>