<section class="slide">
    <div class="header">
        <h1>Dinge die Konkurenz kann:</h1>
    </div>
    <div class="content center">
        <ul>
            <li>Experimentelle Validierung ihrer Simulationen</li>
            <li>DFT-Simulationen</li>
            <li>Meshless Geometrie-Processing</li>
        </ul> 
    </div>
    <!--<div class="footer"></div>-->
</section>

<section class="slide">
    <div class="header">
        <h1>Offene Forschungsfragen:</h1>
    </div>
    <div class="content center">
        <ul>
            <li>Mutlifunktionsbatterie als Aktuator (Ausnutzung enormer Ausdehnung durch Lithierung)</li>
            <li>Problem mit Butler-Volmer-Gleichung</li>
        </ul> 
    </div>
    <!--<div class="footer"></div>-->
</section>

<section class="slide">
    <div class="header">
        <h1>Mögliche Investitionen:</h1>
    </div>
    <div class="content center">
        <ul>
            <li>NVIDIA Grafikkarten (Cuda Support)</li>
            <li>generelle Aufrüstung des Simualtionsservers (Arbeitsspeicher, CPU, etc.)</li>
            <li>(wenn fachlicher Schwerpunkt) Batterielabor</li>
        </ul> 
    </div>
    <!--<div class="footer"></div>-->
</section>